@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/Tajawal-Regular.ttf") format("ttf"), url("/fonts/Tajawal-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
body {
  @apply font-arabic;
}
