@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/Tajawal-Bold.ttf") format("ttf"), url("/fonts/Tajawal-Bold.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary-color: #000;
  --secondary-color: #fda72b;
  --light-text: #d5c5af;
  --white-text: #ffffff;
  --ligt-gray: "#f3f4f6";
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);

  font-family: "Tajawal";

  @apply font-arabic;
}

/* .primary-color {
  color: var(--primary-color);
} */
